 .u-section-1 {
  background-image: url("images/coin-simple24.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 522px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 3px auto 11px;
  padding: 12px 72px 13px 70px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 391px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1250px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 19px;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 60px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1687px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-bottom: 37px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 674px;
}

.u-section-3 .u-text-1 {
  margin: 20px 570px 0 0;
}

.u-section-3 .u-image-1 {
  width: 638px;
  height: 597px;
  margin: -284px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 210px;
    margin-right: 641px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -475px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 11px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-image-1 {
    margin: 16px auto 23px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 505px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 41px;
  }

  .u-section-3 .u-image-1 {
    height: 318px;
    margin-top: 20px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1076px;
}

.u-section-4 .u-text-1 {
  margin: 90px auto 0 93px;
}

.u-section-4 .u-text-2 {
  margin: 84px 37px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 1125px;
  height: 629px;
  margin: 8px auto 0 -78px;
}

.u-section-4 .u-image-2 {
  width: 283px;
  height: 388px;
  margin: -502px 14px 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: -451px auto 0 377px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: -38px 303px 0 612px;
}

.u-section-4 .u-text-5 {
  margin: 408px 902px 0 188px;
}

.u-section-4 .u-text-6 {
  margin: -34px 773px 0 332px;
}

.u-section-4 .u-text-7 {
  margin: -29px 616px 0 auto;
}

.u-section-4 .u-text-8 {
  margin: -29px 451px 0 auto;
}

.u-section-4 .u-text-9 {
  margin: -29px 291px 0 auto;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -386px auto 0 209px;
}

.u-section-4 .u-text-11 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 36px auto 0 201px;
}

.u-section-4 .u-text-12 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 5px auto 0 204px;
}

.u-section-4 .u-text-13 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 18px auto 0 377px;
}

.u-section-4 .u-text-14 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 8px auto 0 396px;
}

.u-section-4 .u-text-15 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 17px auto 0 455px;
}

.u-section-4 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px auto 0 479px;
}

.u-section-4 .u-text-17 {
  font-size: 1.3125rem;
  font-weight: 700;
  margin: -192px 25px 0 898px;
}

.u-section-4 .u-text-18 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: -156px auto 0 103px;
}

.u-section-4 .u-text-19 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 18px 968px 0 30px;
}

.u-section-4 .u-text-20 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 117px 951px 0 30px;
}

.u-section-4 .u-text-21 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: -166px 959px 0 30px;
}

.u-section-4 .u-text-22 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 162px auto 0 360px;
}

.u-section-4 .u-text-23 {
  margin-left: 360px;
  margin-right: auto;
  margin-bottom: 60px;
  font-weight: 400;
}

.u-section-4 .u-text-24 {
  margin-left: 360px;
  margin-right: auto;
  margin-bottom: 60px;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 440px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 292px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 526px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -875px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 25px;
    margin-left: 311px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 203px;
    margin-left: 512px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 462px;
    margin-right: 802px;
    margin-left: 88px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 637px;
    margin-left: 274px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 508px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 372px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -663px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -107px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -91px;
  }

  .u-section-4 .u-text-12 {
    margin-top: -81px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -85px;
    margin-left: 311px;
  }

  .u-section-4 .u-text-14 {
    margin-top: -89px;
    margin-left: 327px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 277px;
    margin-left: 375px;
  }

  .u-section-4 .u-text-16 {
    margin-top: -32px;
    margin-left: 395px;
  }

  .u-section-4 .u-text-17 {
    width: 196px;
    margin-top: -404px;
    margin-right: 0;
    margin-left: 724px;
  }

  .u-section-4 .u-text-18 {
    margin-top: -82px;
  }

  .u-section-4 .u-text-19 {
    margin-top: -471px;
    margin-right: 797px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-20 {
    margin-top: -186px;
    margin-right: 780px;
    margin-left: 0;
  }

  .u-section-4 .u-text-21 {
    margin-top: 370px;
    margin-right: 789px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-22 {
    margin-top: -162px;
    margin-left: 30px;
  }

  .u-section-4 .u-text-23 {
    margin-left: 297px;
  }

  .u-section-4 .u-text-24 {
    margin-left: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 5px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-4 .u-image-1 {
    height: 403px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -46px;
    margin-right: 209px;
  }

  .u-section-4 .u-text-3 {
    width: 122px;
    margin-top: -729px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -58px;
    margin-right: 44px;
    margin-left: 451px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 250px;
    margin-right: 502px;
    margin-left: 168px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: auto;
    margin-left: 262px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 325px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 223px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -29px;
    margin-right: 118px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: -265px;
    margin-left: 182px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 14px;
    margin-left: 183px;
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: -3px;
    margin-left: 182px;
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 2px;
    margin-left: 262px;
  }

  .u-section-4 .u-text-14 {
    width: auto;
    margin-top: -8px;
    margin-left: 278px;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: -3px;
    margin-left: 270px;
  }

  .u-section-4 .u-text-16 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -7px;
    margin-left: 282px;
  }

  .u-section-4 .u-text-17 {
    width: auto;
    margin-top: 206px;
    margin-right: 244px;
    margin-left: 280px;
  }

  .u-section-4 .u-text-18 {
    width: auto;
    margin-top: -474px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-19 {
    width: auto;
    margin-top: 11px;
    margin-right: 549px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-20 {
    width: auto;
    margin-top: 61px;
    margin-right: 543px;
    margin-left: 17px;
  }

  .u-section-4 .u-text-21 {
    width: auto;
    margin-top: -141px;
    margin-right: 539px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-22 {
    width: auto;
    margin-top: 90px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-4 .u-text-23 {
    margin-left: 227px;
  }

  .u-section-4 .u-text-24 {
    margin-left: 227px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 464px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 293px;
    margin-right: -17px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 166px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    margin-top: -424px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-top: 155px;
    margin-right: 233px;
    margin-left: 206px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 315px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 436px;
    margin-right: 412px;
    margin-left: 78px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 197px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 243px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 167px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -585px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
    margin-top: -91px;
    margin-left: 137px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
    margin-top: -75px;
    margin-left: 137px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1rem;
    margin-top: -72px;
    margin-left: 137px;
  }

  .u-section-4 .u-text-13 {
    font-size: 1rem;
    margin-top: -76px;
    margin-left: 197px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1rem;
    margin-top: -79px;
    margin-left: 209px;
  }

  .u-section-4 .u-text-15 {
    font-size: 1rem;
    margin-top: 219px;
    margin-left: 202px;
  }

  .u-section-4 .u-text-16 {
    font-size: 1rem;
    margin-top: -97px;
    margin-left: 211px;
  }

  .u-section-4 .u-text-17 {
    font-size: 1rem;
    margin-top: -346px;
    margin-right: 154px;
    margin-left: 324px;
  }

  .u-section-4 .u-text-18 {
    font-size: 1rem;
    margin-top: -71px;
  }

  .u-section-4 .u-text-19 {
    font-size: 1rem;
    margin-top: -410px;
    margin-right: 397px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-20 {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 380px;
    margin-left: 0;
  }

  .u-section-4 .u-text-21 {
    font-size: 1rem;
    margin-top: 319px;
    margin-right: 389px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-22 {
    font-size: 1rem;
    margin-top: -105px;
  }

  .u-section-4 .u-text-23 {
    margin-left: 170px;
  }

  .u-section-4 .u-text-24 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 7px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-4 .u-image-1 {
    width: 350px;
    margin-top: -97px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -109px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: 101px;
    margin-top: -582px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: -51px;
    margin-right: 21px;
    margin-left: 207px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 1843px;
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: -1767px;
    margin-left: 104px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -25px;
    margin-right: 151px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -26px;
    margin-right: 96px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -25px;
    margin-right: 39px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -147px;
    margin-left: 93px;
  }

  .u-section-4 .u-text-11 {
    font-size: 0.875rem;
    margin-top: -5px;
    margin-right: 106px;
    margin-left: auto;
  }

  .u-section-4 .u-text-12 {
    font-size: 0.875rem;
    margin-top: -6px;
    margin-right: 109px;
    margin-left: auto;
  }

  .u-section-4 .u-text-13 {
    font-size: 0.875rem;
    margin-top: -9px;
    margin-right: 128px;
    margin-left: auto;
  }

  .u-section-4 .u-text-14 {
    font-size: 0.875rem;
    margin-top: -8px;
    margin-right: 137px;
    margin-left: auto;
  }

  .u-section-4 .u-text-15 {
    font-size: 0.875rem;
    margin-top: -7px;
    margin-right: 124px;
    margin-left: auto;
  }

  .u-section-4 .u-text-16 {
    font-size: 0.875rem;
    margin-top: -8px;
    margin-right: 132px;
    margin-left: auto;
  }

  .u-section-4 .u-text-17 {
    width: 162px;
    font-size: 1.1666666666666665rem;
    margin-top: 303px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-18 {
    font-size: 0.75rem;
    margin-top: -348px;
    margin-right: 252px;
    margin-left: 14px;
  }

  .u-section-4 .u-text-19 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 206px;
    margin-left: 14px;
  }

  .u-section-4 .u-text-20 {
    font-size: 0.75rem;
    margin-top: 36px;
    margin-right: 218px;
    margin-left: 14px;
  }

  .u-section-4 .u-text-21 {
    font-size: 0.75rem;
    margin-top: -77px;
    margin-right: 212px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-22 {
    margin-top: -178px;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-23 {
    width: auto;
    font-weight: 700;
    margin-top: -235px;
    margin-bottom: 0;
    margin-left: 14px;
  }

  .u-section-4 .u-text-24 {
    width: auto;
    line-height: 1.8;
    font-weight: 700;
    margin-top: 6px;
    margin-right: 264px;
    margin-left: 29px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 113px;
}

.u-section-5 .u-text-1 {
  margin: 30px 799px 0 0;
}

.u-section-5 .u-text-2 {
  margin: -53px 474px 30px 357px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 599px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: 374px;
    margin-left: 257px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 374px;
    margin-left: 5px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -53px;
    margin-right: 46px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 70px;
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin: -93px 174px 57px 226px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin: 10px 31px 20px 26px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50vh;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 586px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-image-1 {
  width: 114px;
  height: 203px;
  margin: 30px 20px 0 48px;
}

.u-section-6 .u-image-2 {
  height: 257px;
  width: 203px;
  margin: 34px auto 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.0625rem;
  width: 160px;
  margin: -142px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: -163px 28px 0 40px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-image-3 {
  width: 114px;
  height: 203px;
  margin: 30px 159px 0 0;
}

.u-section-6 .u-image-4 {
  width: 203px;
  height: 257px;
  margin: 33px -52px 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: -141px -31px 0 110px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: -161px -6px 0 123px;
}

.u-section-6 .u-image-5 {
  width: 83px;
  height: 96px;
  margin: 76px auto 0 -9px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: -7px 154px 0 -7px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -147px 162px 0 1px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 586px;
}

.u-section-6 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-6 .u-image-6 {
  width: 84px;
  height: 149px;
  margin: 20px 59px 0 14px;
}

.u-section-6 .u-image-7 {
  width: 83px;
  height: 96px;
  margin: 148px auto 0 51px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -128px 101px 0 58px;
}

.u-section-6 .u-text-8 {
  font-size: 1.25rem;
  margin: 74px 83px 0 51px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 586px;
}

.u-section-6 .u-container-layout-4 {
  padding: 14px 0;
}

.u-section-6 .u-image-8 {
  width: 114px;
  height: 203px;
  margin: 132px auto 0 8px;
}

.u-section-6 .u-image-9 {
  width: 203px;
  height: 257px;
  margin: 49px auto 0 -90px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  font-size: 1.0625rem;
  margin: -169px 146px 0 -67px;
}

.u-section-6 .u-image-10 {
  width: 168px;
  height: 216px;
  margin: -145px -44px 0 auto;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  margin: -261px 132px 0 -44px;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 249px -118px 0 76px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 586px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-6 .u-text-12 {
  font-weight: 700;
  margin: 13px 89px 0 -132px;
}

.u-section-6 .u-image-11 {
  width: 74px;
  height: 74px;
  margin: 20px auto 0 34px;
}

.u-section-6 .u-image-12 {
  width: 74px;
  height: 74px;
  margin: -7px auto 0 34px;
}

.u-section-6 .u-image-13 {
  width: 74px;
  height: 74px;
  margin: -10px auto 0 34px;
}

.u-section-6 .u-image-14 {
  height: 260px;
  width: 127px;
  margin: -231px 0 0 auto;
}

.u-section-6 .u-text-13 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: -147px 29px 0 130px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-top: 4821px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 238px;
    width: 188px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -123px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 8px;
    margin-left: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 743px;
  }

  .u-section-6 .u-image-3 {
    height: 167px;
    margin-right: 119px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 70px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -53px;
    margin-left: 83px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 8px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 114px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 123px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 1062px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 81px;
    margin-left: 38px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 43px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 743px;
  }

  .u-section-6 .u-image-9 {
    margin-top: 384px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 106px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 92px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 483px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-13 {
    margin-right: 9px;
    margin-left: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 699px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-6 .u-image-2 {
    height: 257px;
    width: 204px;
    margin-top: 24px;
    margin-left: -2px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -141px;
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -159px;
    margin-right: 74px;
    margin-left: 28px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 699px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-6 .u-image-3 {
    height: 213px;
  }

  .u-section-6 .u-image-4 {
    width: 204px;
    margin-top: 20px;
    margin-right: 14px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    width: 132px;
    margin-top: -140px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    width: 163px;
    margin-top: -159px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-5 {
    width: 70px;
    height: 73px;
    margin-top: 85px;
    margin-left: -47px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: -17px;
    margin-right: 214px;
    margin-left: -52px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: -103px;
    margin-right: 220px;
    margin-left: -46px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 976px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-6 {
    width: 232px;
    height: 232px;
    margin-top: 274px;
    margin-right: auto;
    margin-left: -244px;
  }

  .u-section-6 .u-image-7 {
    width: 70px;
    height: 73px;
    margin-top: -375px;
    margin-left: -22px;
  }

  .u-section-6 .u-text-7 {
    font-weight: 400;
    width: auto;
    margin-top: -88px;
    margin-right: 192px;
    margin-left: -18px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 42px;
    margin-right: 181px;
    margin-left: -29px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 699px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-8 {
    width: 214px;
    height: 225px;
    margin-top: -451px;
    margin-right: -99px;
    margin-left: auto;
  }

  .u-section-6 .u-image-9 {
    width: 204px;
    margin-top: -715px;
    margin-right: -372px;
    margin-left: auto;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: -167px;
    margin-right: -342px;
    margin-left: 558px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-top: -186px;
    margin-right: -335px;
    margin-left: 565px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-top: 511px;
    margin-right: -135px;
    margin-left: 209px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 699px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-12 {
    width: auto;
    margin-top: -702px;
    margin-right: 233px;
    margin-left: -143px;
  }

  .u-section-6 .u-image-11 {
    margin-top: 171px;
    margin-left: -112px;
  }

  .u-section-6 .u-image-12 {
    margin-top: -74px;
    margin-left: -45px;
  }

  .u-section-6 .u-image-13 {
    margin-top: -74px;
    margin-left: 23px;
  }

  .u-section-6 .u-text-13 {
    width: auto;
    margin-top: 76px;
    margin-right: 248px;
    margin-left: -128px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3245px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-6 .u-image-3 {
    height: 479px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -117px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
    margin-top: -28px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
    margin-top: -86px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 519px;
  }

  .u-section-6 .u-image-7 {
    margin-top: -646px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
    margin-top: -311px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1rem;
    margin-top: 280px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 608px;
  }

  .u-section-6 .u-image-9 {
    margin-top: -790px;
  }

  .u-section-6 .u-text-9 {
    font-size: 1rem;
    margin-top: -170px;
  }

  .u-section-6 .u-text-10 {
    margin-top: -747px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 1072px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3041px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    width: 87px;
    margin: 207px auto -62px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-right: -106px;
    margin-left: 107px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-3 {
    width: 87px;
    height: 302px;
    margin-top: 259px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-4 {
    margin-top: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
    margin-right: -107px;
    margin-left: 108px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 0;
    margin-right: 89px;
    margin-left: 118px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    margin-top: -17px;
    margin-right: 50px;
    margin-left: 212px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 0;
    margin-right: 185px;
    margin-left: 84px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 529px;
  }

  .u-section-6 .u-image-7 {
    margin-top: 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: -6px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 598px;
  }

  .u-section-6 .u-image-9 {
    margin-top: 0;
  }

  .u-section-6 .u-text-9 {
    margin-top: 0;
    margin-left: 358px;
  }

  .u-section-6 .u-image-10 {
    margin-top: 0;
  }

  .u-section-6 .u-text-10 {
    margin-top: 0;
    margin-left: 365px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 383px;
  }

  .u-section-6 .u-text-12 {
    margin-top: -1634px;
    margin-right: 40px;
    margin-left: 67px;
  }

  .u-section-6 .u-image-11 {
    margin-top: 140px;
    margin-left: 70px;
  }

  .u-section-6 .u-image-12 {
    margin-left: 130px;
  }

  .u-section-6 .u-image-13 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-6 .u-image-14 {
    margin-top: 184px;
    margin-right: 97px;
  }

  .u-section-6 .u-text-13 {
    font-size: 1.25rem;
    width: 101px;
    font-weight: 700;
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-image-1 {
  height: 238px;
  width: 188px;
  margin: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  width: auto;
  margin: 0 -340px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  width: auto;
  margin: 0 -340px 0 0;
}

.u-section-7 .u-image-2 {
  width: 87px;
  height: 87px;
  margin: 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  width: auto;
  margin: 0 -71px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  width: auto;
  margin: 0 -78px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: -132px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -157px;
    margin-right: -110px;
    margin-left: 110px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 207px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: -60px;
    margin-right: 198px;
    margin-left: 91px;
  }

  .u-section-7 .u-text-4 {
    margin: -26px 59px 18px 206px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-8 .u-image-1 {
  width: 188px;
  height: 238px;
  margin: 0;
}

.u-section-8 .u-text-1 {
  font-size: 0.875rem;
  font-weight: 700;
  width: auto;
  margin: 0 -340px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  width: auto;
  margin: 0 -134px 0 0;
}

.u-section-8 .u-image-2 {
  width: 66px;
  height: 75px;
  margin: 0;
}

.u-section-8 .u-image-3 {
  width: 87px;
  height: 87px;
  margin: 0;
}

.u-section-8 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  width: auto;
  margin: 0 -70px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1rem;
  width: auto;
  margin: 0 -80px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: -130px;
    margin-right: 84px;
    margin-left: 108px;
  }

  .u-section-8 .u-text-2 {
    width: 100px;
    margin-top: -156px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-2 {
    width: 0;
    height: 0;
  }

  .u-section-8 .u-image-3 {
    margin-top: 211px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-3 {
    margin-top: -56px;
    margin-right: 188px;
    margin-left: 88px;
  }

  .u-section-8 .u-text-4 {
    margin: -25px 46px 17px 205px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 400px;
}

.u-section-9 .u-image-1 {
  width: 188px;
  height: 238px;
  margin: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  width: 140px;
  margin: 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  width: auto;
  margin: 0 -146px 0 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  width: auto;
  margin: 0 -233px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-1 {
    margin-top: -157px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-2 {
    margin-top: -183px;
    margin-right: 117px;
    margin-left: 111px;
  }

  .u-section-9 .u-text-3 {
    width: 228px;
    margin: 221px auto -5px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-10 .u-image-1 {
  width: 197px;
  height: 197px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-image-2 {
  width: 74px;
  height: 67px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-image-3 {
  width: 74px;
  height: 67px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-image-4 {
  width: 74px;
  height: 67px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  width: auto;
  margin: 0 -264px 0 0;
}

.u-section-10 .u-image-5 {
  width: 305px;
  height: 207px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  width: 101px;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-10 .u-image-1 {
    margin-top: -20px;
    margin-left: auto;
  }

  .u-section-10 .u-image-2 {
    margin-top: -30px;
    margin-right: 73px;
    margin-left: auto;
  }

  .u-section-10 .u-image-3 {
    margin-top: -67px;
    margin-left: auto;
  }

  .u-section-10 .u-image-4 {
    margin-top: -67px;
    margin-left: 72px;
  }

  .u-section-10 .u-text-1 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-image-5 {
    height: 152px;
    margin-left: auto;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.25rem;
    margin: -89px auto 60px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 201px;
}

.u-section-11 .u-image-1 {
  width: 175px;
  height: 171px;
  margin: 15px 464px 0 auto;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: -171px 455px 0 auto;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: 105px 209px 24px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-11 .u-image-1 {
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin: 113px 17px 52px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-11 .u-image-1 {
    margin-top: 26px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 290px;
}

.u-section-12 .u-image-1 {
  width: 431px;
  height: 271px;
  margin: 14px 331px 0 auto;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: -227px 647px 0 178px;
}

.u-section-12 .u-text-2 {
  font-weight: 700;
  margin: 20px 480px 0 527px;
}

.u-section-12 .u-text-3 {
  font-weight: 700;
  margin: 19px 654px 0 104px;
}

.u-section-12 .u-text-4 {
  font-weight: 700;
  margin: -29px 56px 0 697px;
}

.u-section-12 .u-text-5 {
  font-weight: 700;
  margin: -183px 192px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-12 .u-image-1 {
    margin-top: 8958px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -153px;
    margin-right: 534px;
  }

  .u-section-12 .u-text-2 {
    width: 133px;
    margin-top: -426px;
    margin-right: 380px;
    margin-left: 427px;
  }

  .u-section-12 .u-text-3 {
    margin-top: -551px;
    margin-right: 554px;
    margin-left: 4px;
  }

  .u-section-12 .u-text-4 {
    margin-top: -648px;
    margin-right: 0;
    margin-left: 553px;
  }

  .u-section-12 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-12 .u-image-1 {
    margin-top: 69px;
    margin-right: auto;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: -263px;
    margin-right: 418px;
    margin-left: 43px;
  }

  .u-section-12 .u-text-2 {
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-right: 461px;
    margin-left: 43px;
  }

  .u-section-12 .u-text-4 {
    width: auto;
    margin-top: -57px;
    margin-right: 21px;
    margin-left: 438px;
  }

  .u-section-12 .u-text-5 {
    margin-top: -262px;
    margin-right: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-image-1 {
    margin-top: 9794px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -418px;
    margin-right: 281px;
    margin-left: 13px;
  }

  .u-section-12 .u-text-2 {
    margin-top: -604px;
  }

  .u-section-12 .u-text-3 {
    margin-top: -538px;
    margin-right: 324px;
    margin-left: 0;
  }

  .u-section-12 .u-text-4 {
    margin-top: -642px;
    margin-right: 0;
    margin-left: 279px;
  }

  .u-section-12 .u-text-5 {
    margin-top: -5523px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-12 .u-image-1 {
    height: 214px;
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-text-1 {
    margin-top: -240px;
    margin-right: 188px;
    margin-left: 0;
  }

  .u-section-12 .u-text-2 {
    margin-top: 52px;
  }

  .u-section-12 .u-text-3 {
    margin-top: 31px;
    margin-right: 194px;
  }

  .u-section-12 .u-text-4 {
    margin-top: -77px;
    margin-right: 12px;
    margin-left: 183px;
  }

  .u-section-12 .u-text-5 {
    margin-top: -288px;
    margin-right: 0;
    margin-left: 183px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 358px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 19px 348px 0 406px;
}

.u-section-13 .u-image-1 {
  width: 213px;
  height: 120px;
  margin: 0 439px 0 auto;
}

.u-section-13 .u-text-2 {
  font-weight: 700;
  margin: 0 432px 0 485px;
}

.u-section-13 .u-image-2 {
  width: 150px;
  height: 117px;
  margin: -6px 470px 0 auto;
}

.u-section-13 .u-text-3 {
  font-weight: 700;
  margin: 0 378px 21px auto;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 248px;
    margin-left: 306px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 332px;
    margin-left: 385px;
  }

  .u-section-13 .u-text-3 {
    margin-right: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-13 .u-text-1 {
    width: 386px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-image-1 {
    margin-right: auto;
  }

  .u-section-13 .u-text-2 {
    width: 223px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-image-2 {
    margin-right: auto;
  }

  .u-section-13 .u-text-3 {
    width: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    width: 195px;
    margin-top: -3px;
  }

  .u-section-13 .u-image-2 {
    margin-top: 0;
  }

  .u-section-13 .u-text-3 {
    margin-bottom: 44px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 543px;
}

.u-section-14 .u-image-1 {
  width: 550px;
  min-height: 373px;
  height: auto;
  background-image: url("images/fifithdiagram.001.png");
  background-position: 50% 50%;
  margin: 6px 273px 0 auto;
}

.u-section-14 .u-layout-wrap-1 {
  width: 1118px;
  margin: -337px -6px 50px auto;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 133px;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px;
}

.u-section-14 .u-text-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 481px 0 auto;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 185px;
}

.u-section-14 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-14 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px 497px 0 auto;
}

.u-section-14 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 412px 0 auto;
}

.u-section-14 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -32px auto 0 431px;
}

.u-section-14 .u-text-5 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 49px 444px 0 auto;
}

.u-section-14 .u-text-6 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -22px 485px 0 auto;
}

.u-section-14 .u-text-7 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -22px auto 0 460px;
}

.u-section-14 .u-text-8 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px auto 0 416px;
}

.u-section-14 .u-text-9 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -22px auto 0 500px;
}

.u-section-14 .u-text-10 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -22px 400px 0 auto;
}

.u-section-14 .u-layout-cell-3 {
  min-height: 133px;
}

.u-section-14 .u-container-layout-3 {
  padding: 30px;
}

.u-section-14 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 112px;
  }

  .u-section-14 .u-text-1 {
    margin-right: 400px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-14 .u-text-2 {
    margin-right: 414px;
  }

  .u-section-14 .u-text-3 {
    margin-right: 343px;
  }

  .u-section-14 .u-text-4 {
    margin-left: 359px;
  }

  .u-section-14 .u-text-5 {
    margin-right: 369px;
  }

  .u-section-14 .u-text-6 {
    margin-right: 404px;
  }

  .u-section-14 .u-text-7 {
    margin-left: 383px;
  }

  .u-section-14 .u-text-8 {
    margin-left: 346px;
  }

  .u-section-14 .u-text-9 {
    margin-left: 416px;
  }

  .u-section-14 .u-text-10 {
    margin-right: 333px;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-14 .u-image-1 {
    margin-top: -72px;
    margin-right: auto;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -113px;
    margin-right: -3px;
    margin-bottom: 21px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 102px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: -170px;
    margin-right: auto;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-14 .u-text-2 {
    width: auto;
    margin-top: -173px;
    margin-right: auto;
  }

  .u-section-14 .u-text-3 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-14 .u-text-4 {
    width: auto;
    margin-left: 226px;
  }

  .u-section-14 .u-text-5 {
    width: auto;
    margin-top: 50px;
    margin-right: 254px;
  }

  .u-section-14 .u-text-6 {
    width: auto;
    margin-right: auto;
    margin-left: 249px;
  }

  .u-section-14 .u-text-7 {
    width: auto;
    margin-right: 212px;
    margin-left: auto;
  }

  .u-section-14 .u-text-8 {
    width: auto;
    margin-left: 208px;
  }

  .u-section-14 .u-text-9 {
    width: auto;
    margin-left: 290px;
  }

  .u-section-14 .u-text-10 {
    width: auto;
    margin-right: 295px;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-14 .u-image-1 {
    width: 540px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-14 .u-text-3 {
    font-size: 1rem;
    margin-right: 172px;
  }

  .u-section-14 .u-text-4 {
    font-size: 1rem;
    margin-left: 178px;
  }

  .u-section-14 .u-text-5 {
    margin-right: 200px;
  }

  .u-section-14 .u-text-6 {
    margin-left: 196px;
  }

  .u-section-14 .u-text-7 {
    margin-right: 167px;
  }

  .u-section-14 .u-text-8 {
    margin-left: 164px;
  }

  .u-section-14 .u-text-9 {
    margin-left: 228px;
  }

  .u-section-14 .u-text-10 {
    margin-right: 232px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-text-11 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    margin-top: -40px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-14 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-14 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 50px;
  }

  .u-section-14 .u-text-4 {
    font-size: 1.25rem;
    margin-left: 57px;
  }

  .u-section-14 .u-text-5 {
    margin-right: 81px;
  }

  .u-section-14 .u-text-6 {
    margin-top: -20px;
    margin-left: 83px;
  }

  .u-section-14 .u-text-7 {
    margin-top: -23px;
    margin-right: 38px;
  }

  .u-section-14 .u-text-8 {
    margin-left: 41px;
  }

  .u-section-14 .u-text-9 {
    margin-top: -23px;
    margin-left: 126px;
  }

  .u-section-14 .u-text-10 {
    margin-right: 121px;
  }

  .u-section-14 .u-text-11 {
    font-size: 1.5rem;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 520px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px;
}

.u-section-15 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

.u-section-15 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-15 .u-text-2 {
  margin: 14px auto 0;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px;
}

.u-section-15 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

.u-section-15 .u-text-3 {
  margin: 52px auto 0;
}

.u-section-15 .u-text-4 {
  margin: 14px auto 0;
}

.u-section-15 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-15 .u-container-layout-3 {
  padding: 30px;
}

.u-section-15 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

.u-section-15 .u-text-5 {
  margin: 52px 12px 0;
}

.u-section-15 .u-text-6 {
  margin: 14px auto 0;
}

.u-section-15 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-15 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-15 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

.u-section-15 .u-text-7 {
  margin: 52px auto 0;
}

.u-section-15 .u-text-8 {
  margin: 14px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-15 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-15 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-15 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-15 .u-layout-cell-4 {
    min-height: 288px;
  }

  .u-section-15 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 2397px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 288px;
  }

  .u-section-15 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-15 .u-text-6 {
    width: auto;
  }

  .u-section-15 .u-layout-cell-4 {
    min-height: 288px;
  }

  .u-section-15 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-15 .u-icon-4 {
    margin-top: 0;
  }
}