 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-text-1 {
  margin: 84px auto 0 466px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1037px;
  background-image: none;
  --radius: 20px;
  margin: 28px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 133px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  --radius: 13px;
  font-size: 1rem;
  background-image: linear-gradient(163deg, #6211f0, #8c2dda);
  font-weight: 700;
  margin: 0 auto 0 381px;
  padding: 14px 39px 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 133px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-btn-2 {
  --radius: 13px;
  font-weight: 700;
  font-size: 1rem;
  background-image: linear-gradient(163deg, #6211f0, #8c2dda);
  margin: 0 auto 0 380px;
  padding: 14px 34px 15px 33px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 133px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-3 {
  --radius: 13px;
  font-weight: 700;
  font-size: 1rem;
  background-image: linear-gradient(163deg, #6211f0, #8c2dda);
  margin: 0 auto 0 380px;
  padding: 14px 33px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 387px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 121px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 284px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 121px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 283px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 121px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 111px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 110px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}