 .u-section-1 {
  min-height: 1800px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1858px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  --radius: 30px;
  min-height: 480px;
  margin-top: 19px;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 268px;
  width: 556px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-2 {
  --radius: 30px;
  min-height: 490px;
  margin-top: 41px;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-custom-html-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-group-3 {
  --radius: 30px;
  min-height: 370px;
  margin-top: 27px;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-custom-html-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-group-4 {
  --radius: 30px;
  min-height: 395px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-custom-html-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1867px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  --radius: 30px;
  min-height: 365px;
  height: auto;
  margin-top: 18px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 26px;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 355px;
  width: 615px;
  margin: 8px auto -24px;
}

.u-section-1 .u-group-6 {
  --radius: 30px;
  min-height: 400px;
  margin-top: 41px;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-custom-html-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-group-7 {
  --radius: 30px;
  min-height: 294px;
  margin-top: 27px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-custom-html-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-group-8 {
  --radius: 30px;
  min-height: 376px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-custom-html-8 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1532px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1539px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
    width: auto;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
    width: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 531px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 933px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-1 .u-group-3 {
    min-height: 429px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-4 {
    min-height: 376px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 2017px;
  }

  .u-section-1 .u-group-5 {
    min-height: 480px;
    width: 100%;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-6 {
    min-height: 490px;
    width: 100%;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 0;
  }

  .u-section-1 .u-group-7 {
    min-height: 428px;
    width: 100%;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-8 {
    margin-top: 32px;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 631px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 47px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 971px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 110px;
  }
} .u-section-2 {
  min-height: 609px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 29px;
  width: 100%;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  --radius: 30px;
  min-height: 342px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-custom-html-1 {
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  --radius: 30px;
  min-height: 342px;
  height: auto;
  width: 616px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-custom-html-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-custom-html-3 {
  height: auto;
  min-height: 133px;
  width: 556px;
  margin: 75px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-custom-html-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 100%;
    margin-top: -140px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 830px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 167px;
    min-height: 381px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 840px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-2 .u-group-2 {
    min-height: 380px;
    margin-top: 151px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0 0 20px;
  }

  .u-section-2 .u-custom-html-3 {
    min-height: 188px;
    margin-top: 11px;
    margin-bottom: -1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 480px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 339px;
  }
}