 .u-section-1 {
  min-height: 1132px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1050px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  --radius: 20px;
  min-height: 194px;
  margin-top: 20px;
  margin-bottom: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(58, 52, 87, 0.98), rgba(58, 52, 87, 0.98));
  background-size: cover;
  width: 98%;
  height: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 99px;
  width: 550px;
  margin: 28px auto 0;
}

.u-section-1 .u-group-2 {
  --radius: 20px;
  min-height: 660px;
  height: auto;
  width: 608px;
  margin: 14px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 600px;
  width: 98%;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1050px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  --radius: 20px;
  min-height: 194px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(58, 52, 87, 0.95), rgba(58, 52, 87, 0.95));
  background-size: cover;
  width: 98%;
  height: auto;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 10px auto 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 99px;
  width: 549px;
  margin: 28px auto 0;
}

.u-section-1 .u-group-4 {
  --radius: 20px;
  min-height: 660px;
  width: 616px;
  height: auto;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 10px auto 0;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 600px;
  width: 98%;
  margin: 20px auto -79px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 866px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 866px;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 531px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 933px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    min-height: 227px;
    width: auto;
    margin-right: initial;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 162px;
    width: 215px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 933px;
  }

  .u-section-1 .u-group-3 {
    min-height: 229px;
    margin-top: -2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 162px;
    width: 215px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 631px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 47px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 921px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 971px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 110px;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 129px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}