 .u-section-1 {
  min-height: 1263px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 51px;
  margin-top: 9px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2)  + -1px);
  width: 225px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 60px;
  width: 100%;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1010px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: "Geostar Fill";
  margin: 8px auto 0 73px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 72px;
  margin: 8px 12px 0 38px;
}

.u-section-1 .u-text-2 {
  font-family: "Geostar Fill";
  margin: 48px 127px 0 118px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 700px;
  width: 619px;
  margin: 17px 5px 0 -4px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1010px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 0;
}

.u-section-1 .u-text-3 {
  font-family: "Geostar Fill";
  margin: 0 auto;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 67px;
  width: 582px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: "Geostar Fill";
  margin: 52px auto 0;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 698px;
  margin-top: 17px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1130px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 940px) / 2)  + 715px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 833px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 833px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 603px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 720px) / 2)  + 495px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-4 {
    min-height: 144px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -53px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 703px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 540px) / 2)  + 315px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 340px) / 2)  + 115px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -33px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 27px;
  }
}