 .u-section-1 {
  min-height: 1312px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 51px;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2));
  width: 325px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -12px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1010px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: "Geostar Fill";
  margin: 32px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 67px;
  width: 562px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: "Geostar Fill";
  width: 414px;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 633px;
  width: 620px;
  margin: 44px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1010px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-family: "Geostar Fill";
  margin: 32px auto 0;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 67px;
  width: 570px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: "Geostar Fill";
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 633px;
  width: 620px;
  margin: 43px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 940px) / 2)  + 665px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 833px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 470px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 833px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 470px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 531px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 720px) / 2)  + 445px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 933px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 36px;
    margin-bottom: -15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 933px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 31px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 36px;
    margin-bottom: -14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 631px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 540px) / 2)  + 265px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 47px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 340px) / 2)  + 65px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 971px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: 17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 20px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}