.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-text-1 {
  margin: 35px 327px 0 auto;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 66px;
  margin: 21px -75px 60px 75px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 269px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 20px;
  }
}